<div class="row g-2">
    <div class="col-6">
        <div class="card text-center p-3 h-100">
            <small>Checklista</small>
            <h4>{{ checklist_procent }}%</h4>
        </div>
    </div>
    <div class="col-6">
        <div class="card text-center p-3 h-100">
            <small>Budget</small>
            <h4>{{ budget_procent }}%</h4>
        </div>
    </div>
    <div class="col-6">
        <div class="card text-center p-3 h-100">
            <small>Gäster</small>
            <h4>{{ gaster_procent }}%</h4>
        </div>
    </div>
    <div class="col-6">
        <div class="card text-center p-3 h-100">
            <small>Leverantörer</small>
            <h4>{{ leverantor_procent }}%</h4>
        </div>
    </div>
</div>